<!DOCTYPE html>
<html lang="en">

<head>
    {{>link}}
</head>

<body>
    {{>navbar}}
    <!-- Main Header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Right Side Div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="error" class="img-fluid">
                        </figure>
                    </div>
                    <!-- left Side Div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I Am A <span class="txt_clr">Mern Stack Developer</span> Intern And A Freelancer</h1>
                        <a href="https://www.instagram.com/iamvkj/" target="_insta"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>